:root {
  --color-link: #2196F3;
  --color-logo: #000000;
  --color-main: #212121;
  --color-secondary: #757575;
  --color-hero: #ffffff;
  --color-button: #F5F4FA;
  --bg-hero: #2F303A;
  --bg-section: #F5F4FA;
  --bg-footer: #2F303A;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  background-color: var(--color-hero);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Color */

.color-logo {
  color: var(--color-logo);
}

.color-link, .link-active:hover, .link-active:focus {
  color: var(--color-link);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-main {
  color: var(--color-main);
}

.color-hero {
  color: var(--color-hero);
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

/* Nav */

.nav-link, .contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Hero */

.hero {
  background-color: var(--bg-hero);
  text-align: center;
}

.hero-link {
  display: inline-block;
  padding: 10px 32px;
  text-decoration: none;
  background-color: var(--color-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

/* Advantages */

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.advantages-text, .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* Projects */

.projects.section {
  padding-top: 0;
}

/* Section title */

.title-section {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

/* Teams */

.section-teams {
  background-color: var(--bg-section);
}

.list-img {
  margin-bottom: 30px;
}

.teams-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.teams-text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Footer */

.footer {
  background-color: var(--bg-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
}

.address-color {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.address-item {
  margin-bottom: 9px;
}

/* Hidden h2 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Portfolio */

.list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0px solid transparent;
  border-radius: 4px;
}

.list-button:hover, .list-button:focus {
  cursor: pointer;
  background-color: var(--color-link);
  color: var(--color-hero);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4px;
}

.list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.list.filter {
  margin-bottom: 50px;
}

.list-item {
  padding-bottom: 20px;
}